$primary: #008080;
$black: #414141;
$lightgrey: #adadad;

// Breakpoints

$small: 460px;
$medium: 768px;
$large: 1024px;
$xlarge: 1200px;

body {
  color: $black;
}

a {
  color: $primary;
  transition: all .3s ease;
}

strong {
  color: inherit;
}

form {
  padding-top: 35px;
}

.button {
  border: 1px solid $primary;
  border-radius: 3px;
  background-color: $primary;
  color: #fff;
  font-size: 1em;
  font-family: 'Poppins';
  transition: all .3s ease;

  &:hover, &:focus {
    color: $primary;
    background-color: #fff;
    border-color: $lightgrey;
  }

  &--secondary {
    border-color: #fff;
  }

  &--tertiary {
    color: $black;
    background-color: #fff;
    border-color: $black;
  }

  &--danger {
    color: #fff;
    background-color: #000;
    border-color: $black;

    &:hover {
      background-color: #ff6868;
      color: #fff;
    }
  }
}

.input {
  border: 1px solid $lightgrey;
  color: $primary;
  font-size: 1em;
  font-family: 'Poppins';
  padding: calc(0.375em - 2px) 0.75em;
  width: 100%;

  &--inline {
    border-radius: 3px 0 0 3px;

    + .button {
      border-radius: 0 3px 3px 0;
    }
  }

  &--secondary {
    border-color: #fff;
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins';
  font-weight: bold;
  margin: 0;
}

h1 {
  font-size: 1.8em;

  @media (min-width: $large) {
    font-size: 2.4em;
  }
}

h2 {
  font-size: 1.6em;
  text-decoration: underline;
  margin-bottom: 15px;

  @media (min-width: $large) {
    font-size: 2em;
  }
}

h3 {
  font-size: 1.2em;

  @media (min-width: $large) {
    font-size: 1.4em;
  }
}

h4 {
  font-size: 1em;

  @media (min-width: $large) {
    font-size: 1.2em;
  }
}

h5 {
  font-size: 1em;
}

.pagination-list {
  list-style: none !important;
  margin-top: 0 !important;

  li + li {
    margin-top: 0;
  }
}

@import './transitions.scss';

.page {

  main {
    display: block;

    .columns {
      flex-wrap: wrap;
    }
  }
}

.toggler {
  display: none;
}

.toggler + .toggler-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all .4s ease-in-out;
}

.toggler:checked + .toggler-content {
  max-height: 1000px;
  opacity: 1;
}

[v-cloak] {
  display: none;
}

@media (max-width: $medium) {
  .section {
    padding: 1.5rem 1.5rem
  }
}
