// Set your colors
$primary: #008080;
$black: #414141;
$lightgrey: #adadad;

// Breakpoints

$small: 460px;
$medium: 768px;
$large: 1024px;
$xlarge: 1200px;

body {
  color: $black;
}

a {
  color: $primary;
  transition: all .3s ease;
}

strong {
  color: inherit;
}

form {
  padding-top: 35px;
}

.button {
  border: 1px solid $primary;
  border-radius: 3px;
  background-color: $primary;
  color: #fff;
  font-size: 1em;
  font-family: 'Poppins';
  transition: all .3s ease;

  &:hover, &:focus {
    color: $primary;
    background-color: #fff;
    border-color: $lightgrey;
  }

  &--secondary {
    border-color: #fff;
  }

  &--tertiary {
    color: $black;
    background-color: #fff;
    border-color: $black;
  }

  &--danger {
    color: #fff;
    background-color: #000;
    border-color: $black;

    &:hover {
      background-color: #ff6868;
      color: #fff;
    }
  }
}

.input {
  border: 1px solid $lightgrey;
  color: $primary;
  font-size: 1em;
  font-family: 'Poppins';
  padding: calc(0.375em - 2px) 0.75em;
  width: 100%;

  &--inline {
    border-radius: 3px 0 0 3px;

    + .button {
      border-radius: 0 3px 3px 0;
    }
  }

  &--secondary {
    border-color: #fff;
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins';
  font-weight: bold;
  margin: 0;
}

h1 {
  font-size: 1.8em;

  @media (min-width: $large) {
    font-size: 2.4em;
  }
}

h2 {
  font-size: 1.6em;
  text-decoration: underline;
  margin-bottom: 15px;

  @media (min-width: $large) {
    font-size: 2em;
  }
}

h3 {
  font-size: 1.2em;

  @media (min-width: $large) {
    font-size: 1.4em;
  }
}

h4 {
  font-size: 1em;

  @media (min-width: $large) {
    font-size: 1.2em;
  }
}

h5 {
  font-size: 1em;
}

.pagination-list {
  list-style: none !important;
  margin-top: 0 !important;

  li + li {
    margin-top: 0;
  }
}

@import './transitions.scss';

.page {

  main {
    display: block;

    > div:first-child {
      min-height: 100vh;
      background: #fff;
    }

    .columns {
      flex-wrap: wrap;
    }
  }
}

.toggler {
  display: none;
}

.toggler + .toggler-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all .4s ease-in-out;
}

.toggler:checked + .toggler-content {
  max-height: 1000px;
  opacity: 1;
}

[v-cloak] {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

@media (max-width: $medium) {
  .section {
    padding: 1.5rem 1.5rem
  }
}


// Bulma overrides
.b-checkbox.checkbox{

  &:hover input[type=checkbox]:not(:disabled) + .check{
    border-color: $primary;
  }

  input[type=checkbox]:checked + .check {
    background-color: $primary;
    border-color: $primary;
  }
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: $primary;
}

.pagination-link.is-current {
  background-color: $primary;
  border-color: $primary;
}

.input:focus, .taginput .taginput-container.is-focusable:focus, .textarea:focus, .select select:focus, .is-focused.input, .taginput .is-focused.taginput-container.is-focusable, .is-focused.textarea, .select select.is-focused, .input:active, .taginput .taginput-container.is-focusable:active, .textarea:active, .select select:active, .is-active.input, .taginput .is-active.taginput-container.is-focusable, .is-active.textarea, .select select.is-active {
  border-color: $primary;
}
